"""
Project: $name
Unit tests for $file
"""

import unittest

from $file import *

class $name(unittest.TestCase):
    def setUp(self):
        pass

    def tearDown(self):
        pass

    def test_something(self):
        pass

